html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.fw {
  width: 100%;
}

.fh {
  height: 100%;
}

.nm {
  min-height: 0;
  min-width: 0;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.react-raphael,
.paper-container {
  width: 100%;
  height: 100%;
}
